body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.btn {
  padding: 1rem;
}

.btn button {
  padding: 1em;
  font-weight: bold;
}

.hero-wrapper {
  background: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0))), url("/imgs/oleg-ivanov-G_3NA_UoVyo-unsplash.png");
  background: linear-gradient(90deg, black, rgba(0, 0, 0, 0)), url("/imgs/oleg-ivanov-G_3NA_UoVyo-unsplash.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 50% 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-holder {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 2em;
}

header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header nav ul li {
  display: inline-block;
  font-size: 20px;
  font-weight: lighter;
}

header nav ul li a {
  color: white;
  display: inline-block;
  padding: 3em;
}

.hero-content-wrapper {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content-wrapper .content {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.hero-content-wrapper .content .title {
  font-size: 60px;
  padding: 1rem 0;
}

.services-wrapper {
  background-color: #353535;
}

.services-wrapper .services-content .title {
  height: 20vh;
  font-size: 60px;
  text-align: center;
  padding-top: 3rem;
}

.services-wrapper .services-content .services-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
}

.services-wrapper .services-content .services-images img {
  width: calc(100% /3);
}

.event-wrapper {
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.event-wrapper .event-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 100vh;
  width: 50vw;
}

.event-wrapper .event-content {
  margin: auto;
  text-align: center;
  padding: 4em;
}

.event-wrapper .event-content .title {
  font-size: 40px;
  padding: 2rem 0 0 0;
}

.event-wrapper .event-content .paragraph {
  text-align: left;
}

.event-wrapper .event-content .paragraph p {
  padding: 1rem 0;
}

.section-wrapper {
  height: 100vh;
  background: url("/imgs/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-wrapper .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  text-align: center;
}

.section-wrapper .section-content .content {
  padding: 0 15vw;
}

.section-wrapper .section-content .content .title {
  font-size: 30px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #282828;
  padding: 2em;
}

footer .footer-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .footer-content .footer-links ul {
  -webkit-column-count: 2;
          column-count: 2;
  list-style: none;
}

footer .footer-content .footer-links ul li a {
  color: white;
}

footer .footer-contact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .footer-contact .form form input {
  width: 30em;
  margin: 1em 0;
}

footer .footer-contact .form form #msg {
  height: 10em;
}

footer .footer-contact .form form #send {
  width: 8em;
  padding: 1em;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .hero-wrapper {
    background: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0.274))), url("/imgs/oleg-ivanov-G_3NA_UoVyo-unsplash.png");
    background: linear-gradient(90deg, black, rgba(0, 0, 0, 0.274)), url("/imgs/oleg-ivanov-G_3NA_UoVyo-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-wrapper header {
    display: none;
  }
  .hero-content-wrapper {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2em 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-content-wrapper .content {
    text-align: center;
  }
  .hero-content-wrapper .content .title {
    font-size: 50px;
    padding: 1rem 0;
  }
  .hero-content-wrapper .content .subtitle {
    padding: 1rem;
  }
  .services-wrapper {
    background-color: #353535;
  }
  .services-wrapper .services-content {
    min-height: 350vh;
  }
  .services-wrapper .services-content .title {
    height: 20vh;
    font-size: 60px;
    text-align: center;
    padding-top: 3rem;
  }
  .services-wrapper .services-content .services-images {
    display: block;
  }
  .services-wrapper .services-content .services-images img {
    width: 100vw;
    height: auto;
  }
  .event-wrapper {
    background-color: #282828;
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .event-wrapper .event-image {
    display: none;
  }
  .event-wrapper .event-content {
    margin: auto;
    text-align: center;
    padding: 4em;
  }
  .event-wrapper .event-content .title {
    font-size: 40px;
    padding: 2rem 0 0 0;
  }
  .event-wrapper .event-content .paragraph {
    text-align: left;
  }
  .event-wrapper .event-content .paragraph p {
    padding: 1rem 0;
  }
  .section-wrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: url("/imgs/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section-wrapper .section-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    text-align: center;
  }
  .section-wrapper .section-content .content {
    padding: 0 15vw;
  }
  .section-wrapper .section-content .content .title {
    font-size: 30px;
  }
  .mobile-menu {
    z-index: 100;
    height: 10vh;
    position: fixed;
    bottom: 0;
  }
  .mobile-menu header {
    width: 100vw;
    display: inline-block;
    background-color: white;
  }
  .mobile-menu header nav {
    text-align: center;
  }
  .mobile-menu header nav ul li a {
    color: black;
    padding: 1rem 2rem;
  }
}
/*# sourceMappingURL=main.css.map */